pandas==1.5.3
Pint==0.20.1
plotly==5.15.0
scipy==1.10.1
streamlit==1.24.0
xlsxwriter == 3.2.0
#wimcem @ git+ssh://github.com/toastedcrumpets/wimcem@master
simcem @ git+ssh://github.com/toastedcrumpets/simcem_devel@gord
